@mixin responsivi($breakpoint){
    @media screen and (max-width: $breakpoint){
        @content;
    }
}

.hero{
    width: 100%;
    height: 100vh;
    background: url('../../images/desktop/image-header.jpg') no-repeat center / cover;
    
    @include responsivi(640px){
        background: url('../../images/mobile/image-header.jpg') no-repeat center / cover;
    }
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}
.align-center{
    text-align: center;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}




.navbar-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        
        a{
            text-decoration: none;
            margin-left: 24px;
            font-family: 'barlow', sans-serif;
            color: $White;
        }
        .btn{
            padding: 8px 24px;
            font-family: 'fraunces', serif;
            font-weight: 700;
            background-color: $White;
            color: $Very-dark-desaturated-blue;
            border-radius: 16px;
            transition: 0.3s ease;

            &:hover{
                color: white;
                background-color:#72d0ff;
            }
        }
    }

    @include responsivi(640px){
        display: none;
    }
}
.navbar-mobile{
    display: none;
    width: 100%;
    justify-content: space-between;

    .burguer{
        cursor: pointer;
    }
    @include responsivi(640px){
        display: flex;
    }
}
.menu-mobile{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    padding: 24px 0;
    background-color: $White;

    ul{
        list-style-type: none;
    }
    li{
        margin: 24px 0;
    }
    a{
        position: relative;
        text-decoration: none;
        padding: 0 24px;
        font-family: 'barlow', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        color: $Very-dark-desaturated-blue;

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            border: 1px solid $Very-dark-desaturated-blue;
            transition: 0.3s ease;
        }

        &:hover{
            &::after{
                width: 100%;
            }
        }
    }

    &::after{
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        top: -10px;
        right: 6px;
        background-color: $White;
        transform: rotate(45deg);
    }

    
}
.active{
    display: flex;
}
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 550px);
    grid-template-areas: 
    "grid-1 grid-2"
    "grid-3 grid-4"
    "grid-5 grid-6";

    @include responsivi(640px){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 400px);
        grid-template-areas: 
        "grid-2" 
        "grid-1"
        "grid-3"
        "grid-4"
        "grid-5"
        "grid-6";
    }
}
.grid-1{
    grid-area: grid-1;
    
    .grid-text{
        width: 70%;

        a{
            font-family: 'fraunces', serif;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 800;
            color: $Very-dark-desaturated-blue;
            border-bottom:$yellow 4px solid;
        }
    }
    
}
.grid-2{
    grid-area: grid-2;
    background: url('../../images/desktop/image-transform.jpg')no-repeat center / cover;
}
.grid-3{
    grid-area: grid-3;
    background: url('../../images/desktop/image-stand-out.jpg')no-repeat center / cover;
}
.grid-4{
    grid-area: grid-4;

    .grid-text{
        width: 70%;

        a{
            font-family: 'fraunces', serif;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 800;
            color: $Very-dark-desaturated-blue;
            border-bottom:$Soft-red 4px solid;
        }
    }
}
.grid-5{
    grid-area: grid-5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: url('../../images/desktop/image-graphic-design.jpg')no-repeat center / cover;

    .grid-text{
        width: 70%;

        h2{
            text-align: center;
            color: $Dark-desaturated-cyan;
        }
        p{
            text-align: center;
            color: $Dark-desaturated-cyan;
        }
    }
}
.grid-6{
    grid-area: grid-6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: url('../../images/desktop/image-photography.jpg')no-repeat center / cover;

    .grid-text{
        width: 70%;

        h2{
            
            text-align: center;
            color: $Dark-blue;
        }
        p{
            text-align: center;
            color: $Dark-blue;
        }
    }
}


.testimonials{
    width: 100%;
    
    h2{
        font-size: 1.5rem;
        color: $Dark-grayish-blue;
        font-family: 'fraunces', serif;
        text-transform: uppercase;
    }

    .testimonials-items{
        margin-top: 92px;
        display: flex;
        align-items: center;
        gap: 32px;
        .testimonials-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .photo{
                width: 52px;
                height: 52px;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .testimonial-text{
                p{
                    text-align: center;
                    color: $Very-dark-desaturated-blue;
                }
                h5{
                    font-size: 1rem;
                    text-align: center;
                    font-family: 'fraunces', serif;
                    font-weight: 800;
                    color: $Very-dark-desaturated-blue;
                }
                .career{
                    color: $Dark-grayish-blue;
                }
            }
        }

        @include responsivi(640px){
            flex-direction: column;
            gap: 64px;
        }
    }
}

.images-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;

    .grid-milk{
        background: url('../../images/desktop/image-gallery-milkbottles.jpg')no-repeat center / cover;
        @include responsivi(640px){
            background: url('../../images/mobile/image-gallery-milkbottles.jpg')no-repeat center / cover;
        }
    }
    .grid-orange{
        background: url('../../images/desktop/image-gallery-orange.jpg')no-repeat center / cover;
        @include responsivi(640px){
            background: url('../../images/mobile/image-gallery-orange.jpg')no-repeat center / cover;
        }
    }
    .grid-cone{
        background: url('../../images/desktop/image-gallery-cone.jpg')no-repeat center / cover;
        @include responsivi(640px){
            background: url('../../images/mobile/image-gallery-cone.jpg')no-repeat center / cover;
        }
    }
    .grid-sugar{
        background: url('../../images/desktop/image-gallery-sugarcubes.jpg')no-repeat center / cover;
        @include responsivi(640px){
            background: url('../../images/mobile/image-gallery-sugar-cubes.jpg')no-repeat center / cover;
        }
    }

    @include responsivi(640px){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 250px);
    }
}

footer{
    width: 100%;
    background-color: $Dark-moderate-cyan;

    .footer-container{
        max-width: 640px;
        margin: 0px auto;
        padding: 40px 24px;
  
        .logo{
            text-align: center;
         svg{
            fill: $Dark-desaturated-cyan
            }
        }

        ul{
            list-style-type: none;
            display: flex;
            justify-content: center;
            gap: 24px;
        }
    
        a{
                text-decoration: none;
                font-family: 'barlow', sans-serif;
                color: $White;
                transition: 0.3s ease;

                &:hover{
                    opacity: 0.5;
                }
        }

        .icon{
            transition: 0.3s ease;

            &:hover{
                opacity: 0.5;
            }
        }
    }
}